.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: full;
  overflow: hidden;
  background: rgb(185, 185, 185);
  font-family: "Poppins", sans-serif;
}

.profile_img {
  object-fit: cover;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  transform: translateX(100%);
  transition: all 1s;
}

.scrolled {
  border-radius: 50px;
  transform: translateX(0%);
}

.profile_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  transform: translateX(-75%);
  opacity: 0;
  transition: all 1s;
  color: rgb(54, 54, 54);
}

.revealed {
  transform: translateX(0%);
  opacity: 1;
}

.bottom_waves {
  position: absolute;
  margin-bottom: -1px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom_waves svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 63px;
}

.bottom_waves .shape-fill {
  fill: #000000;
}

/* .hero_img {
  object-fit: cover;
  height: 100%;
  width: 100%;
} */

/* .profile_container {
    overflow: hidden;
  } */

@media (max-width: 400px) {
  .hero {
    flex-direction: column;
  }

  .profile_img {
    width: 150px;
    height: 150px;
    transform: translateY(50%);
    transition: all 1s;
  }

  .scrolled {
    border-radius: 50px;
    transform: translateY(0%);
  }

  .profile_desc {
    align-items: center;
    text-align: center;
    padding: 20px 15px;
    transform: translateY(-75%);
  }

  .profile_desc h1 {
    font-size: 1.3rem;
  }

  .profile_desc p {
    text-align: left;
  }

  .revealed {
    transform: translateY(-5%);
  }
}
