.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  position: absolute;
  left: -8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  background: rgba(0, 0, 0, 1);
  transform: translateZ(-10px) scale(2);
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
  transform: translateZ(2px) scale(0.8);
}

.section {
  height: 100vh;
  font-size: 1.5rem;
  font-weight: 900;
  padding: auto auto;
  background: black;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  text-align: start;
  /* perspective: 10px; */
  transition: all 1s;
}

.colored_section {
  background: white;
}

.section_title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 2rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.section_title {
  font-size: 2rem;
  transform: translateY(-100%);
  transition: all 2s;
}

.fadeIn {
  transform: translateY(0);
}

.p {
  opacity: 0;
  transform: translateY(150%);
  transition: all 2s;
  /* transform-style: preserve-3d; */
}

.swiper {
  /* -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
 */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  padding: 2rem 1rem;
  opacity: 0;
  transform: translateY(150%);
  transition: all 2s;
}

.slide {
  max-width: 250px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem -0.25rem black;
  /* opacity: 0;
  transform: translateY(150%);
  transition: all 1s; */
}

/* .slide:nth-child(2) {
  transition-delay: 200ms;
}
.slide:nth-child(3) {
  transition-delay: 400ms;
}
.slide:nth-child(4) {
  transition-delay: 600ms;
}
.slide:nth-child(5) {
  transition-delay: 800ms;
}
.slide:nth-child(6) {
  transition-delay: 900ms;
}
.slide:nth-child(7) {
  transition-delay: 1000ms;
}
.slide:nth-child(8) {
  transition-delay: 1100ms;
} */

.reveal {
  opacity: 1;
  transform: translateY(0);
}

#slide_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

#slide_img_alt {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  min-width: 250px;
  min-height: 300px;
  z-index: 50;
}

#img_alt_wrapper {
  overflow: hidden;
  padding: 0 5px;
}

#img_alt {
  text-shadow: 0 0 0 white;
  transform-origin: center;
  font-size: 1rem;
  transform: translateY(120%);
  transition: all 0.5s;
}

#slide_img_alt:hover #img_alt {
  transform: translateY(0);
  text-shadow: 2px 2px 8px #4b4b4b;
}

#slide_img_alt:hover + #slide_img {
  transform: scale(1.1);
}

@media (max-width: 400px) {
  .background {
    left: 0;
    transform: translateZ(-15px) scale(2.5);
  }

  .title {
    font-size: 3rem;
    letter-spacing: 5px;
  }

  .section {
    font-size: 1rem;
    padding: auto 10px;
  }

  .p {
    margin-left: 10px;
  }

  .slide {
    max-width: 250px;
    min-height: 350px;
  }

  #img_alt_wrapper {
    overflow: hidden;
    padding: 5px 5px;
  }
}
