.contact_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, rgb(250, 125, 198), rgb(0, 230, 180));
  font-family: "Poppins", sans-serif;
}

.contact_wrapper h1 {
  color: white;
}

@media (max-width: 400px) {
  .contact_wrapper h1 {
    font-size: 1.5rem;
  }
}
